<h1 class="oswald grabber">New Member</h1>
  <div class="left">
    <div>
        <%= form_for(:student, :url => group_students_path(@group), :html => {:method => :post}) do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
    </div>
 </div>
