/* --------------------------------------------------------------

  	print.css
  	* Default CSS file for site when printing
	* Styled for printing destination

-------------------------------------------------------------- */

body {
	background: white;
	font-size: 14px;
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
	color: black;
	margin: 5% 7%;
}
h1 {font-size:32pt;}
h2 {font-size:26pt;}
p {font-size: 13pt;}



/* --------------------------------------------------------------

	Header & Formatting

-------------------------------------------------------------- */

.josefin { font-family: 'Josefin Sans', arial, serif; }
.lucky { font-family: 'Luckiest Guy', arial, serif; }
.oswald { font-family: 'Oswald', arial, serif; }
.left {
	position: relative;
	float: left;
	clear: both;
}
.right {
	position: relative;
	float: right;
}
.center {
	text-align: center;
}
.logo {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 32px;
}
.sublogo {
	font-size: 16pt;
	margin-top: -12px;
}


/* --------------------------------------------------------------

	Page Content

-------------------------------------------------------------- */

.print_block {
	display: inline;
	width: 100%;
	height: 10px;
}
.destination.name {
	line-height: 32pt;
	margin-top: -10pt;
}


/* --------------------------------------------------------------

	Hide Screen Content & Show Print Content

-------------------------------------------------------------- */


.top_bar {
	display: none;
}
#groups {
	display: none;
}
#group_header {
	display: none;
}
.destination_show {
	display: none;
}
.destination_print {
	display: block;
}
.page_actions {
	display: none;
}
#footer {
	display: none;
}
#fdbk_tab {
	display: none;
}
#habla_beta_container_do_not_rely_on_div_classes_or_names {
	display: none;
}