<div id="send_message">
    <%= render :partial => 'send_message' %>
</div>
<div class="left margin_top">
    <%= render :partial => 'sent_messages'%>
    <div id="return_to_groups"></div>
    <span><%= link_to "< All Groups", groups_path %></span>
    <div id="return_to_groups"></div>
</div>