<h3>Sent Messages</h3>
  <table id="messages">
  	<tr><th class="message_row"><b>Date</b></th><th class="message_row"><b>Message</b></th></tr>
  	<% @messages.each do |message| %>
  		<tr><td class="message_row"><h6><%=formatted_time(message.created_at) %></h6></td><td class="message_row"><h6><%= message.message %></h6></td></tr>
  	<%end%>
  </table>