<% if @messages.count.blank? %>
<% else %>
  <h4 class="oswald grabber">Sent Messages</h4>
  <% @messages.each do |message| %>
    <div class="formwrap messages">
      <div class="sent_message"><%= message.message %></div>
      <div class="sent_message time"><%=formatted_time(message.created_at) %></div>
    </div>
  <%end%>
<% end %>