<%= render :partial => 'groups/sidebar' %>
<div id="group_content">
	<%= render :partial => 'groups/nav' %>
	<div>
		<%= render 'form' %>
		<%= link_to 'Delete Group', @group, :confirm => 'Are you sure?', :method => :delete, :class => "right button destroy" %>
	</div>
</div>
