<% if @groups.blank? %>
	<div id="welcome_wrap">
		<h1 class="oswald grabber">Welcome to ClassTalk!</h1>
			<h4>To get started, make your first group.</h4>
			<p>Groups are comprised of members and might represent your classes, teams, clubs, or friends. There's no limit to how you use ClassTalk and it's entirely free. So let your imagination run wild and have fun!</p>
			<br>
		<div class="center"><%= link_to "Make my first group »", new_group_path, :class => "button" %></div>
	</div>
<% else %>
	<%= render :partial => 'groups/sidebar' %>
	<div id="group_content">
		<%= render :partial => 'groups/nav' %>
		<div>
			<div id="message">
				<%= render :partial => 'message'%>
			</div>
		</div>
	</div>
<% end %>
