<%= render :partial => 'groups/sidebar' %>
<div id="group_content">
	<%= render :partial => 'groups/nav' %>
	<div>
		<div id="member_list">
			<%= render :partial => 'groups/member_list'%>
		</div>
	</div>
</div>