<div id="splash_action">
  <%= link_to new_registration_path(:user), {:class => "button sign_up"} do %>
    Sign up now<span class="arrow_sign_up"> ▶</span>
  <% end %>

  <%= link_to "http://codeforamerica.org/?cfa_project=classtalk", {:class => "splash_sub_action", :target => "blank"} do %>
    Learn more about ClassTalk<!-- <span class="arrow_learn_more">▶</span> -->
  <% end %>
</div>
