<h1>New destination</h1>

<%= nested_form_for([@group,@destination]) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
<%= link_to 'Back', group_destinations_path(@group,@destination) %>
