<% if flash[:notice].present? %>
	<div class="flash" id="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert].present? %>
	<div class="flash" id="alert"><%= flash[:alert] %></div>
<% end %>
